# NOTE: we don't include IDE-specific files (e.g. IntelliJ's *.iml and .idea/) on-purpose.
# Those patterns should go in a global gitignore or repository-specific excludes.
# See https://help.github.com/articles/ignoring-files/ for how to configure your environment.
# See https://github.com/github/gitignore/tree/master/Global for a list of global ignore rules.

/node_modules/
/dist/
/lib/
/out/
LaVillette/
egout.ply
egout.tgz
egout
stereopolis.tgz
stereopolis
images
images.tgz
li3ds.ply
.vscode/
demo.tgz
demo
pointcloud.tgz
pointcloud
examples/Li3ds/images_091117.tgz
examples/Li3ds/images_091117/
examples/Marseille1/MPM_LaPauline_buildings.json
examples/Marseille1/MPM_LaPauline_dtm.json
examples/Marseille1/MPM_LaPauline_pano.json
examples/Marseille1/cameraMetaData.json
examples/Marseille1/images_LR.zip
examples/Marseille1/images_LR/
examples/Marseille1/images_LR_unified/
examples/Marseille1/index_LaPauline.html
examples/Marseille1/panoramicMetaData.json
examples/Marseille2/MPM_Marseille_pano.json
examples/Marseille2/Marseille2-metadata.tar.gz
examples/Marseille2/cameraMetaData.json
examples/Marseille2/images_LR/
examples/Marseille2/images_LR_Marseille.zip
examples/Metro/AperiCloud.tgz
examples/Metro/AperiCloud
examples/Metro/Lidar.tgz
examples/Metro/Lidar
examples/Metro/poisson_4978_bin.ply
examples/Li3ds/Photo
examples/Li3ds/Photo.tgz
